$cBlack: #000;
$cPurple:#8a2be2;
$cPurpleLine:#b537f2;
$cBlue:#3cb9fc;
$cBluebg: #4B009A;
$cWhite: #fff;
$cPink: #F279EA;
$cPinkbg: #fb33d8;
$cCyan: #99E2F2;
$cRed:#FF2281;
$cGreen:#00A800;
$cGray: #808080;