@keyframes SlideIn {
  0% {
    opacity: 0;
    transform: translateX(64px);
  }
  64% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes Progress {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes Opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Opacity2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Opacity-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
* {
  margin: 0px;
  padding: 0px;
}

html {
  overflow-y: scroll;
}

body {
  background-image: url("../images/bgimg2.jpg");
}
body a {
  text-decoration: none;
}

header {
  height: 246px;
  position: relative;
  z-index: 10;
  background-color: #4B009A;
}
header .mobile-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  visibility: hidden;
}

#container {
  width: 760px;
  margin: 0 auto;
  background-color: #fff;
  border-left: 5px solid #b537f2;
  border-right: 5px solid #b537f2;
}

.skills {
  display: flex;
}
.skills #skills-list {
  margin: 0 20px 20px 0;
}
.skills #skill-items {
  margin-top: 0px;
  margin-bottom: 10px;
}
.skills .skill-titles {
  margin-right: 20px;
}
.skills .skills-p {
  margin-bottom: 10px;
}
.skills .skills-p:last-child {
  margin-bottom: 20px;
}
.skills ul {
  list-style-type: none;
}

.main-nav .main_nav_li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0 0;
}
.main-nav .items_li {
  width: 126px;
}
.main-nav .items_li:nth-child(2) {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}
.main-nav .items_li:nth-child(3) {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}
.main-nav .items_li:nth-child(4) {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}
.main-nav .items_li:nth-child(5) {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}
.main-nav .items_li:first-child {
  border-right: 1px solid #fff;
}
.main-nav .items_li:last-child {
  border-left: 1px solid #fff;
}
.main-nav .items_a {
  display: block;
  padding: 10px 0;
  text-align: center;
  color: #fff;
  font-family: "M PLUS 1", sans-serif;
  font-family: "Space Grotesk", sans-serif;
  letter-spacing: 0.05rem;
  font-size: 1.2rem;
  background-color: #3cb9fc;
  transition: all 0.25s ease-out 0s;
}
.main-nav .items_a:hover {
  background-color: #fb33d8;
}

#main {
  padding: 30px;
}
#main #nav-explanation {
  margin: 20px 0;
}
#main a {
  color: #3cb9fc;
}
#main a:visited {
  color: #b537f2;
}
#main ul {
  display: block;
  list-style: none;
}
#main .welcome {
  font-weight: bold;
}
#main .detail .introduction .intro_title {
  display: inline-block;
  border-bottom: 1px solid #b537f2;
  font-weight: bold;
  font-family: "M PLUS 1", sans-serif;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.5rem;
  margin: 20px 0;
}
#main .detail .introduction .intro_detail {
  display: flex;
  margin-bottom: 30px;
}
#main .detail .introduction img {
  width: 285px;
  margin-right: 10px;
}
#main .detail .introduction a[target=_blank] {
  padding-right: 24px;
  background: url(../images/link.png) right center/30px auto no-repeat;
}
#main .contact {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 30px 0;
}
#main .contact #mailtome {
  color: #000;
  font-size: medium;
  margin-bottom: 20px;
}
#main .contact p {
  color: #FF2281;
  font-size: 2rem;
}
#main .contact .contact-table {
  width: 100%;
  margin-bottom: 20px;
}
#main .contact .contact-item,
#main .contact .contact-body {
  padding: 20px;
  border: 1px solid #fff;
}
#main .contact .contact-item {
  text-align: left;
  width: 30%;
  color: #fff;
  background-color: #808080;
}
#main .contact .contact-body {
  width: 70%;
  color: #fff;
  background-color: #808080;
}
#main .contact .form-text,
#main .contact .form-textarea {
  width: 100%;
  padding: 2px;
  border: 1px solid #808080;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#main .contact .form-textarea {
  height: 200px;
}
#main .contact .contact-submit {
  width: 200px;
  height: 50px;
  color: #fff;
  background-color: #3cb9fc;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  font-size: 16px;
  border-radius: 100vh;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
#main dd {
  margin-bottom: 20px;
}

h1 {
  font-family: "M PLUS 1", sans-serif;
  font-weight: bold;
  letter-spacing: 0.1rem;
  border-bottom: solid 2px #b537f2;
  animation: SlideIn 1.5s;
}

h3 {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 24px;
  font-family: "M PLUS 1", sans-serif;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
}
h3::before {
  border-left: 6px solid #000;
  margin-right: 10px;
  content: "";
}

.source {
  display: block;
  height: 0;
  margin-bottom: 20px;
}

.footer {
  padding: 20px 30px 20px 15px;
  max-width: 760px;
  margin: 0 auto;
  background-color: #4B009A;
}
.footer .footer_title {
  width: 171px;
  font-family: "M PLUS 1", sans-serif;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.5rem;
  color: #fff;
}
.footer .footer_title span a {
  display: block;
  padding: 10px 15px;
  color: #F279EA;
}
.footer .footer_title span a:hover {
  transition: all 0.6s cubic-bezier(0.45, -1.49, 0.3, 2.84) 0s;
  color: #99E2F2;
}
.footer .footer_nav {
  display: flex;
  align-items: center;
  text-align: center;
  align-content: flex-start;
  justify-content: space-between;
}
.footer .footer_nav a {
  display: block;
  color: #fff;
  padding: 15px;
}
.footer .footer_nav a:hover {
  color: #F279EA;
  transition: all 0.25s linear 0s;
}
.footer .footer_nav .footer_copyright {
  color: #fff;
  float: right;
}
.footer .footer_nav ul {
  display: flex;
  list-style: none;
}
.footer .footer_nav li {
  font-family: "M PLUS 1", sans-serif;
  font-family: "Space Grotesk", sans-serif;
}

.gotop {
  visibility: hidden;
  height: 0;
}

@media (max-width: 480px) {
  #container {
    width: 100%;
    position: relative;
  }
  .main-p h1 {
    margin-top: 50px;
    font-size: 1.5rem;
  }
  .main-p h3 {
    font-size: 1.2rem;
  }
  .page-header {
    position: fixed;
    height: 50px;
    width: calc(100% - 9.5px);
  }
  .page-header .header-img1 {
    visibility: hidden;
  }
  .page-header .mobile-header {
    visibility: visible;
  }
  .main-nav {
    position: fixed;
    top: 3rem;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
  }
  .nav-icon {
    position: fixed;
  }
  .nav_toggle {
    position: absolute;
    top: 14px;
    right: 14px;
    display: block;
    width: 28px;
    height: 24px;
    z-index: 10;
  }
  .nav_toggle i {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: transform 0.5s, opacity 0.5s;
  }
  .nav_toggle i:nth-child(1) {
    margin-bottom: 8px;
  }
  .nav_toggle i:nth-child(2) {
    margin-bottom: 8px;
  }
  .menu_icon_animate i:nth-child(1) {
    transform: translateY(10px) rotate(135deg);
  }
  .menu_icon_animate i:nth-child(2) {
    opacity: 0;
  }
  .menu_icon_animate i:nth-child(3) {
    transform: translateY(-10px) rotate(-135deg);
  }
  .show2 {
    opacity: 1;
    visibility: visible;
    background-color: #fff;
    border-left: 5px solid #b537f2;
    border-right: 5px solid #b537f2;
  }
  .main-nav .main_nav_li {
    display: block;
    justify-content: initial;
    margin: 0;
  }
  .main-nav .items_li {
    width: initial;
    margin-bottom: 20px;
  }
  .main-nav .items_a {
    display: block;
    padding: initial;
    background-color: initial;
    transition: all 0.25s ease-out 0s;
    color: #000;
  }
  .main-nav .items_a:hover {
    background-color: initial;
  }
  .detail .introduction .intro-title {
    font-size: 1.5em;
  }
  .detail .introduction .intro_detail {
    display: flex;
    flex-flow: column;
    margin-bottom: 0;
  }
  .detail .introduction .intro_detail .interest_img {
    margin-bottom: 20px !important;
  }
  .gotop {
    display: block;
    visibility: visible;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    height: auto;
  }
  .footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 20px 0;
  }
  .footer .footer_nav {
    display: flex;
    text-align: center;
    flex-flow: column;
    flex-wrap: wrap;
  }
  .footer .footer_nav a {
    padding: 8px;
  }
  .footer .footer_nav .footer_copyright {
    margin-top: 10px;
  }
  .footer .footer_nav ul {
    flex-flow: column;
  }
}/*# sourceMappingURL=style.css.map */